body {
    margin: 0;
    height: 100vh;
    --machine-color: steelblue;
    --shelf-wood-height: 1.5rem;
}

a {
    color: rgb(200, 200, 200);
}

a:visited {
    color: rgb(180, 180, 180);
}

#main-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 40% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#page-title {
    grid-area: 1 / 1 / 1 / 1;
    text-align: center;
}

#simplify-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.simplify-link-button:visited {
    color: #0000EE;
    text-decoration-line: none;
}

.simplify-link-button {
    color: #0000EE;
    text-decoration-line: none;
}

.simplify-link-button {
    background-color: lightblue;
    border: dashed black;
    padding: 0.5rem;
}

.shelf-div {
    height: calc(100vh / 5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.shelf-wood {
    position: relative;
    height: var(--shelf-wood-height);
    width: 100%;
    background-color: brown;
    text-align: center;
    color: lightgray;
}

.machine-div {
    background: var(--machine-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: Courier;
}

.machine-label {
    height: 1.5rem;
    width: fit-content;
    text-align: center;
    color: lightgray;
}

.icon {
    height: 8rem;
    width: 8rem;
    text-align: center;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.emoji-icon {
    font-size: 5rem;
    text-decoration: none;
    height: 1.05em;
}

.description {
    justify-content: center;
    text-align: center;
}

.split-container {
    position: relative;
}

.slant {
    background-color: var(--machine-color);
    width: 100%;
    height: 100%;
    transform: translateX(-0.05rem);
    overflow: hidden;
}

.slant-shelf {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 1.5rem solid brown;
    z-index: -1;
}

#row-1-slant {
    clip-path: polygon(0% 0, 20% 100%, 0% 100%);
}

#row-2-slant {
    clip-path: polygon(0% 0, 20% 0, 40% 100%, 0% 100%);
}

#row-3-slant {
    clip-path: polygon(0% 0, 40% 0, 60% 100%, 0% 100%);
}

#row-4-slant {
    clip-path: polygon(0% 0, 60% 0, 80% 100%, 0% 100%);
}

#row-5-slant {
    clip-path: polygon(0% 0, 80% 0%, 100% 100%, 0% 100%);
}

.book {
    width: 100%;
    height: 1rem;
    background-color: chocolate;
    border: 0.1em solid sienna;
    text-align: center;
    color: #55320f;
}

.book-vertical {
    height: 100%;
    width: 2rem;
    font-size: 0.9rem;
    padding-right: 0.55rem;
    text-align: center;
    background-color: chocolate;
    border: 0.1rem solid sienna;
    writing-mode: sideways-rl;
}

.book-vertical>a {
    color: #55320f;
}

.books-wrapper {
    width: 80%;
    text-decoration: none;
}

.vertical-book-wrapper {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#github-cat-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - var(--shelf-wood-height));
}

#github-cat {
    width: 100%;
    max-height: 7rem;
    height: fit-content;
}

#github-cat-tail {
    background-color: black;
    border-radius: 1rem 0 1rem 1rem;
    margin-left: 20%;
    width: 74%;
    max-width: 8.3rem;
    height: 100%;
    text-align: center;
    transform-origin: calc(100% - 0.75rem) 10%;
    animation: 10s linear 10s infinite wiggle-tail;
}

@keyframes wiggle-tail {
    0% {
        transform: rotate(0deg);
    }

    8%,
    12% {
        transform: rotate(-90deg);
    }

    20% {
        transform: rotate(0deg);
    }
}