/* Firefox */
html {
    scrollbar-color: brown black;
}

body {
    margin: 0;
    height: 100vh;
    --machine-color: steelblue;
    --shelf-wood-height: 15%;
    --wood-bg-color: hsl(25.06, 33.91%, 58%);
    --wood-line-color: hsl(22.82, 36.04%, 48%);
}

a {
    color: white;
}

a:visited {
    color: hsl(200, 70%, 90%);
}

#main-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 40% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#page-title {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: span 2;
}

#page-title h1 {
    font-size: 8cqw;
}

.simplify-link-button:visited {
    color: #0000EE;
    text-decoration-line: none;
}

.simplify-link-button {
    background-color: lightblue;
    color: #0000EE;
    text-decoration-line: none;
    border: dashed black;
    padding: 0.5rem;
    font-size: 0.6em;
    width: 90%;
}

noscript {
    font-size: 1rem;
}

.shelf-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.shelf-slide {
    width: 100%;
    height: calc(100vh / 5);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    grid-column: span 2;
    position: relative;
}

.shelf-wood {
    position: relative;
    height: var(--shelf-wood-height);
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
}

.hide-shelf-wood-overflow-y {
    overflow-y: hidden;
}

.filler-shelf-wood-div {
    height: 100%;
    position: relative;
    width: 100vw;
    right: 0;
    width: 0;
    z-index: -5;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.filler-shelf-wood-div .shelf-wood {
    min-width: 10em;
    max-width: 20em;
}

/* Random looking shelf wood textures */

.wood-texture1 {
    box-sizing: border-box;
    border-left: solid 1px var(--wood-line-color);
    background: var(--wood-bg-color);
    background-image: repeating-radial-gradient(
        circle at 50% -3000%,
        transparent,
        transparent 5px,
        var(--wood-line-color) 10px,
        var(--wood-line-color) 10px
    );
}

.wood-texture2 {
    box-sizing: border-box;
    border-left: solid 1px var(--wood-line-color);
    background: var(--wood-bg-color);
    background-image: repeating-radial-gradient(
        circle at 10% -3000%,
        transparent,
        transparent 5px,
        var(--wood-line-color) 10px,
        var(--wood-line-color) 10px
    );
}

.wood-texture3 {
    box-sizing: border-box;
    border-left: solid 1px var(--wood-line-color);
    background: var(--wood-bg-color);
    background-image: repeating-radial-gradient(
        circle at 90% 3000%,
        transparent,
        transparent 5px,
        var(--wood-line-color) 10px,
        var(--wood-line-color) 10px
    );
}

.machine-div {
    background: var(--machine-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: Courier;
    font-size: 2.5cqw;
    container-type: inline-size;
    z-index: 20;
}


.machine-label {
    height: 1.5rem;
    width: fit-content;
    text-align: center;
    color: lightgray;
}

.icon {
    width: 8rem;
    height: 8rem;
    position: relative;
    text-align: center;
    max-height: fit-content;
}
.icon img, .icon svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.emoji-icon {
    font-size: 5rem;
    text-decoration: none;
    height: 1.05em;
}

.description {
    justify-content: center;
    text-align: center;
    font-size: 2.5cqh;
}

.description h3 {
    margin: 0;
    margin-top: 0.8rem;
}

.split-container {
    position: relative;
}

.slant {
    background-color: var(--machine-color);
    width: 100%;
    height: 100%;
    transform: translateX(-0.05rem);
    overflow: hidden;
    z-index: 20;
}

.slant-shelf {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 1.5rem solid brown;
    z-index: -1;
}

#row-1-slant {
    clip-path: polygon(0% 0, 20% 101%, 0% 101%);
}

#row-2-slant {
    clip-path: polygon(0% 0, 20% 0, 40% 101%, 0% 101%);
}

#row-3-slant {
    clip-path: polygon(0% 0, 40% 0, 60% 101%, 0% 101%);
}

#row-4-slant {
    clip-path: polygon(0% 0, 60% 0, 80% 101%, 0% 101%);
}

#row-5-slant {
    clip-path: polygon(0% 0, 80% 0%, 100% 101%, 0% 101%);
}

.book {
    width: 100%;
    height: 15%;
    font-size: 110%;
    background-color: chocolate;
    border: 0.1em solid sienna;
    text-align: center;
    color: #55320f;
}

.book-vertical {
    height: 100%;
    width: 2rem;
    font-size: 0.9rem;
    padding-right: 0.55rem;
    text-align: center;
    background-color: chocolate;
    border: 0.1rem solid sienna;
    writing-mode: sideways-rl;
}

.book-vertical>a {
    color: #55320f;
}

.books-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    padding: 0rem 1rem;
    min-width: 8rem;
    aspect-ratio: 0.8;
    width: 80%;
    height: calc(100% - var(--shelf-wood-height));
    text-decoration: none;
}

.vertical-book-wrapper {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.book-texture1 {
    background-image: linear-gradient(90deg, chocolate, #e99b63 50%, chocolate 100%);
}

.book-horizontal-texture1 {
    background-image: linear-gradient(0deg, chocolate, #e99b63 50%, chocolate 100%);
}

.cat-shelf {
    width: fit-content;
}

#github-cat-wrapper {
    display: flex;
    flex-direction: column-reverse;
    aspect-ratio: 1;
    height: calc(100% - var(--shelf-wood-height));
    width: calc(100% - var(--shelf-wood-height));
}

#github-cat-wrapper > svg {
    width: 100%;
    aspect-ratio: 1;
}

#github-cat-tail {
    background-color: black;
    border-radius: 1rem 0 1rem 1rem;
    margin-left: 18%;
    width: 75%;
    height: 100%;
    text-align: center;
    transform-origin: 80% 10%;
    animation: 5s linear 4s infinite wiggle-tail;
}

@keyframes wiggle-tail {
    0% { transform: rotate(0deg); }
    8%, 12% { transform: rotate(-90deg); }
    20% { transform: rotate(0deg); }
}

.mobile {
    display: none;
    font-size: 2cqh;
}

/* Blog Switok*/

.switok {
    height: 5em;
    max-width: 7em;
    min-width: 5em;
    width: 70%;
    z-index: 5;
}

.switok-bar {
    height: 1rem;
    position: relative;
}

.switok-content {
    width: calc(100% - 1rem);
    margin: 0% 0.5rem;
    height: calc(100% - 2rem);
    background-color: white;
    font-size: 0.7em;
    overflow: hidden;
}

.switok-content a {
    color: black;
    text-decoration: none;
    font-family: cursive;
}

.switok-content .fill-link {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.switok-content:hover {
    animation-name: switok-unroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes switok-unroll {
    0% {
        height: calc(100% - 2rem);
    }
    100% {
        height: 100vh;
    }
}

.switok-bar .switok-bar-handle {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
    background-color: saddlebrown;
}

.switok-bar .switok-bar-roll {
    height: 100%;
    position: absolute;
    width: calc(100% - 1rem);
    left: 0.5rem;
    background-color: darkgray;
}

/* https://github.com/cadars/john-doe */
.project-roller {
    grid-area: 5 / 1 / 6 / 3;
    --roller-color: #6495ED;
    /*--roller-color: var(--machine-color);*/
    background: var(--roller-color);
    position: relative;
}

.project-roller-placeholder {
    display: none;
    grid-column: span 2;
    width: 100%;
    height: 100%;
}

section.first-coursel-entry {
    display: flex;
}

section {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    background-color: var(--roller-color);
    /*background-image: linear-gradient(0deg, var(--roller-color) 20%, white 50%, var(--roller-color) 80%);*/
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Courier;
}

.project-roller .coursel-entry {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

.coursel-entry-banner img {
    max-width: 100%;
    max-height: 80%;
}

.project-roller .coursel-entry .coursel-entry-banner {
    aspect-ratio: 1;
    max-width: 100%;
    max-height: 100%;
    min-width: 40%;
    height: fit-content;
    box-sizing: border-box;
}

.project-roller .coursel-entry div {
    text-align: center;
}

.project-roller .coursel-entry .coursel-entry-description {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
}

.coursel-controls {
    width: fit-content;
    text-align: center;
    writing-mode: vertical-lr;
    height: 100%;
    display: inline;
    border-color: blue;
    border-style: solid;
    border-width: 0 0.2em 0 0.2em;
}

.coursel-controls a {
    text-decoration: none;
    color: blue;
}

section:target {
  display: flex;
}

.background-wrapper {
    height: 100%;
    min-width: 70%;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -20;
    overflow: hidden;
    top: 0%;
    right: 0%;
}

@media (max-width: 600px) {
    .shelf-wood {}
    .project-roller {
        display: none;
    }
    .project-roller-placeholder {
        display: flex;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
  .day-background {}
  .night-background {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  .day-background {
    display: none !important;
  }
  .night-background {}
}
